DOCTYPE html

html
	head
		meta(charset="UTF8")
		meta(name="author", content="Project Proxy")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		meta(name="X-UA-Compatible",content="ie=edge")
		title Proximity:Profile
		
		link(href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" ,rel="stylesheet")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css",integrity="sha384BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
		style
			include profile.css

	body





		div(class="profile_container")


			div(class="bio_container")
				h2 Biography:
				h3(id="bio") #{bior}




			div(class="picture_container")

				img(class="profile_picture glyphicon glyphicon-camera",id="profile_photo",src="person.jpeg")
				h3(id="profile_name",class="basic_info") Name: #{namer}
				h3(id="profile_age", class="basic_info") Age: #{ager}
 






			div(class="info_container")

				h3(id="hobbies") Hobbies: