body
{
	background:	url("../image/curls.png");
}
/* this controls the blue header with username & password */
.navbar
{
	height: 80px;
	background: #3b5998;
	color: white;

	
    
	
}

/*Proximity Title in blue nav */
#navTitle
{
	margin-left: 100px;
	font-weight: bold;
	font-family: "Arial", Times, serif;
	font-size: 30px; 
}

/*userName */
#nameText 
{
	margin-right: 5px;
	
	
}

/*password*/
#passText
{
	margin-right: 5px;
}

/* form contains username, password textfiels & button */
#headerForm
{

	  margin-right: 10%;

}

/* login button */
#login-btn
{
	background-color: #3b5998;
}




/* increas navbar size in order to fit entir textfields inside blue bar */
@media screen and (max-width: 996px)
{
	
	.navbar
	{
		
		height: 250px;
	 
	}

	
}

/* everything below the blue nave header */

.container
{
	font-family: "Arial", Times, serif;	
}


/* this applies 10 margin top right bottom left. */
.ten-margin
{
	margin: 60px 60px 60px 60px;
}

#firstName, #lastName
{
	width: 225px;
}

#firstName
{
	margin-right: 3px;
	
}

#lastName
{
	margin-left: 3px;
	

}

#email, #password
{
	width: 456px;
	
}

#radioFemale
{
	margin-left: 20px;
	
	
}

#sign-btn
{
	background-color: #3b5998;
	margin-left: 10px;
}

table
{
	

    margin-top: 30px;
}

.row1
{
	
}

form
{
	
}

.inputArea
{
    margin-top: 30px;
}

/*Moves the title inside Modal to the center */
.modal-title
{
	margin-left: 180px;
}

/*Makes the error types inside modal red and bold */
.errorType
{
	font-weight: bold;
	color: red;
}